body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.invalid{
    text-decoration: line-through;
    color: red;
}

#legend{
    font-size: 1.05em;

}

#red{
    color:red;
}