@(userForm: Form[String])


@import helper._

@main("LivestreamerFM WebUI") {

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>

    <h1>Enter the url of a stream to play.</h1>

    <form action="@routes.Application.submit" method ="post">
        <input name="url" type="text">
        <button>Create Audio Stream</button>
    </form>

    <button onclick="clearTable()">Clear and Close All Streams</button>
    <script>
        function clearTable() {
        $.post('@routes.Application.clear', true,
        function () {
             console.log("Streams cleared!");
            location.reload();
        }).fail(function () {
            console.log("clearTable post request failed. :( ");
        });
        }
    </script>

    <p id="legend"><span id="white">LEGEND: <strong>White </strong>= Currently Playing </span> <br> <span id="red"><strong>Red</strong> =
        Not Playing: either the stream ended or an error occured</span></p>

    <div id="streamTableLocation"> </div>

    <script src="@routes.Assets.at("javascripts/livestreamerfmwebuijscripts-opt.js")" type="text/javascript"></script>

    <script type="text/javascript">
    main().main();
    </script>

}
